@import "~tachyons";

.grid {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
}
.cell {
    width: 50%;
}

body {
    font-family: "Fira Sans Light", helvetica, sans-serif
}

nav .subtitle {
    font-family: "Fira Sans Condensed UltraLight", sans-serif;
}

.table-key {
    font-family: "Fira Sans SemiBold", sans-serif;
}
.table-value {
    font-family: "Fira Sans UltraLight", sans-serif;
}
